<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}RATP - Noctilien{% endblock %}</title>
        {% block metas %}{% endblock %}
        
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-submenu/dist/css/bootstrap-submenu.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/general.css') }}">
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="text-center loader"></div>
        <div class="alert alert-danger" role="alert">
            <span><strong>APPLICATION DE TEST</strong></span>
        </div>
        {% block body %}

            {% block menu %}
            
                <div class="container navigation">
                    <div class="row navigation">
                        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                            <div class="navabar-header">
                                <a class="navbar-brand" href="{{ path('homepage') }}"><span class="glyphicon glyphicon-home"></span> Noctilien</a>
                            </div>

                            <div class="navbar-collapse collapse navbar-left">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="" tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                                            <span class="text-primary">Suivi indicateurs</span> <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a tabindex="0" href="">Enquêtes prévues/réalisées</a>
                                                <ul class="dropdown-menu">
                                                    <li><a tabindex="0" href="{{ path('pa_prevu_realise') }}">PA</a></li>
                                                    <li><a tabindex="0" href="{{ path('bus_prevu_realise') }}">BUS</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="">Pénalités</a></li>
                                            <li><a href="">Ratio Dysfonctionnements</a></li>
                                            <li class="divider"></li>
                                            <li class="dropdown-submenu">
                                                <a tabindex="0" href="">Typologie dysfonctionnements</a>
                                                <ul class="dropdown-menu">
                                                    <li><a tabindex="0" href="">Moyenne annuelle N-1 et N</a></li>
                                                    <li><a tabindex="0" href="">Quantités mensuelles</a></li>
                                                </ul>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="">Formation continue</a></li>
                                            <li><a href="">Restitution</a></li>
                                            <li><a href="">QSE</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="" tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false"><span class="text-primary">Suivi mesures</span> <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('bus_questionnaire_all', { 'mois': 0 }) }}">Mesures</a></li>
                                            <li><a href="{{path('app_ticket')}}">Tickets</a></li>
                                            <li><a href="{{path('app_dysfonctionnement')}}">Dysfonctionnements</a></li>
                                            <li><a href="">Main courante/retard</a></li>
                                            <li><a href="">RHA</a></li>
                                            <li><a href="">Accompagnement formation</a></li>
                                            <li class="dropdown-submenu">
                                                <a tabindex="0" href="">Plan de sondage</a>
                                                <ul class="dropdown-menu">
                                                    <li class="planSondage-export cursor"><a tabindex="0">PA</a></li>
                                                    <li class="bus_plan_sondage_export cursor"><a tabindex="0" href="">BUS</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="">PAO/PAS</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text-primary">Suivi marché</span> <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('client_compte_rendu') }}">Compte rendu</a></li>
                                            <li><a href="">Carte d'accès</a></li>
                                            <li><a href="{{ path('app_echange') }}">Echange</a></li>
                                            <li><a href="{{path('client_matricule')}}">Matricules</a></li>
                                            <li><a href="{{path('client_plan_action')}}">Plan d'action</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="navbar-collapse collapse navbar-right">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plan de sondage <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                            {% if app.user.hasRole('ROLE_ADMIN') %}
                                                    <li><a href="{{path('pa_plan_sondage_import')}}">Importer</a></li>
                                                {% endif %}
                                            <li><a href="{{path('pa_zone_enqueteur_view')}}">Zones attribuées</a></li>
                                            <li class="planSondage-export cursor"><a>Exporter</a></li>
                                            </ul>
                                        </li>
                                    
                                    <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feuilles de routes <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                            <li><a href="{{path('pa_feuille_route_home')}}">Attribution de zones</a></li>
                                            </ul>
                                        </li>

                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fiches <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{path('pa_questionnaire_all',{ mois: 0} )}}">Consultation des mesures</a></li>
                                                    {% if app.user.hasRole('ROLE_ADMIN') %}
                                                        <li><a href="{{path('pa_questionnaire_import_home')}}">Importation des mesures</a></li>
                                                        <li><a href="{{path('pa_json_home')}}">Exports JSON</a></li>
                                                        <li><a href="{{path('pa_json_re_export_home')}}">Re-exporter un JSON</a></li>
                                                    {% endif %}
                                                    <li><a href="{{path('pa_json_list')}}">Liste des JSON récemment transmis</a></li>
                                                </ul>
                                            </li>

                                            {% if app.user.hasRole('ROLE_ADMIN') %}
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maintenance <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        {% if app.user.hasRole('ROLE_ADMIN') %}
                                                            <li class="update-referentiel cursor"><a>Mise à jour du Référentiel client</a></li>
                                                            <li class="reset-mesures cursor"><a href="{{path('pa_mesure_reset')}}">Re-initialiser les mesures</a></li>
                                                        {% endif %}
                                                        <li class="export-referentiel cursor"><a>Télécharger le Référentiel client mis à jour</a></li>
                                                        <li class="divider"></li>
                                                        <li class="export-referentiel_today cursor"><a>Télécharger le Référentiel client de ce jour (.json)</a></li>
                                                        <li><a href="http://objectif-terrain.com/ntl-front/" target="_blank">Consulter le Référentiel de ce jour</a></li>
                                                    </ul>
                                                </li>
                                            {% endif %}
                                    
                                       <!-- <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reporting <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="">Non conformités</a></li>
                                                <li><a href="">Quotas lignes</a></li>
                                            </ul>
                                        </li>-->
                                    </ul>
                                </div>
                        </nav>
                    </div><!-- row navigation-->
                    <div class="text-right">{{ app.user.username }} | <a href="{{ path('fos_user_security_logout') }}" >Déconnexion</a></div>
    </div><!-- container navigation-->
            
            {% endblock %}

        {% endblock %}
        
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bootstrap-submenu/dist/js/bootstrap-submenu.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script type="text/javascript" src="{{ asset('js/general.js') }}"></script>
        {% endblock %}

    </body>
</html>
