{% extends 'base_bus.html.twig' %}


{% block body %}


    <span class="init_mois_a">{{ mois_a }}</span>
    <span class="init_annee_a">{{ annee_a }}</span>
    <span class="init_mois_b">{{ mois_b }}</span>
    <span class="init_annee_b">{{ annee_b }}</span>

    
{% block menu %}
    {{ parent() }}
{% endblock %}

    <div class="container content">
        <div class="row content">
            
            <div class="row col-xs-12 col-lg-12" >
                <div class="panel panel-success">
                    <div class="panel-heading" >
                            Comparaison entre deux mois
                            <select class="mois_a">
                                <option value="1">Janvier</option>
                                <option value="2">Février</option>
                                <option value="3">Mars</option>
                                <option value="4">Avril</option>
                                <option value="5">Mai</option>
                                <option value="6">Juin</option>
                                <option value="7">Juillet</option>
                                <option value="8">Août</option>
                                <option value="9">Septembre</option>
                                <option value="10">Octobre</option>
                                <option value="11">Novembre</option>
                                <option value="12">Décembre</option>
                             </select>
                             <select class="annee_a">
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                             </select>

                             <span class="glyphicon glyphicon-arrow-right"></span>

                             <select class="mois_b">
                                <option value="1">Janvier</option>
                                <option value="2">Février</option>
                                <option value="3">Mars</option>
                                <option value="4">Avril</option>
                                <option value="5">Mai</option>
                                <option value="6">Juin</option>
                                <option value="7">Juillet</option>
                                <option value="8">Août</option>
                                <option value="9">Septembre</option>
                                <option value="10">Octobre</option>
                                <option value="11">Novembre</option>
                                <option value="12">Décembre</option>
                             </select>
                             <select class="annee_b">
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                             </select>

                             <span class="cursor start">
                                <span class="glyphicon glyphicon-ok" style="margin-left:10px;"></span> Comparer
                            </span>
                    </div>
                    <div class="panel-body row">
                        <div class="col-xs-6">
                            <table>
                                <tr>
                                    <td>
                                        <canvas id="myChart" width="500" height="500"></canvas>
                                    </td>
                                </tr>
                            </table>
                        </div>
                      
                        <div class="col-xs-6" style="width: 45% !important; overflow: scroll; height: 73vh;">  
                            <table style="margin-left:10px;">
                                <tr>
                                    <th colspan="2">Détails BIV</th>
                                </tr>
                                <tr>
                                    <td colspan="2">BIV indice / <span class="small" style="color:gray;">conformes:</span> <span class="small biv_indice_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small biv_indice_B" style="color:#FF6384;"></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2">BIV direction / <span class="small" style="color:gray;">conformes:</span> <span class="small biv_direction_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small biv_direction_B" style="color:#FF6384;"></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2">BIV attente / <span class="small" style="color:gray;">conformes:</span> <span class="small biv_attente_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small biv_attente_B" style="color:#FF6384;"></span></td>
                                </tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr>
                                    <th colspan="2">Détails du thème Q 2 / <span class="small" style="color:gray;">conformes:</span> <span class="small Q_2_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small Q_2_B" style="color:#FF6384;"></span></th>
                                </tr>
                                <tr>
                                    <td>Q 2.1</td>
                                    <td>Carrosserie sale</td>
                                </tr>
                                <tr>
                                    <td>Q 2.2</td>
                                    <td>Vitres sales</td>
                                </tr>
                                <tr>
                                    <td>Q 2.3</td>
                                    <td>Arrière du bus sale</td>
                                </tr>
                                <tr>
                                    <td>Q 2.4</td>
                                    <td>Elément de carrosserie abîmé (rouillé, enfoncé, déformé)</td>
                                </tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr>
                                    <th colspan="2">Détails du thème Q 3 / <span class="small" style="color:gray;">conformes:</span> <span class="small Q_3_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small Q_3_B" style="color:#FF6384;"></span></th>
                                </tr>
                                <tr>
                                    <td>Q 3.1</td>
                                    <td>Indice de ligne frontal ou affiche/panneaux</td>
                                </tr>
                                <tr>
                                    <td>Q 3.2</td>
                                    <td>Indicateur directionnel frontal ou affiche/panneaux</td>
                                </tr>
                                <tr>
                                    <td>Q 3.3</td>
                                    <td>Indice de ligne latéral</td>
                                </tr>
                                <tr>
                                    <td>Q 3.4</td>
                                    <td>Information latérale</td>
                                </tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr>
                                    <th colspan="2">Détails du thème Q 4 / <span class="small" style="color:gray;">conformes:</span> <span class="small Q_4_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small Q_4_B" style="color:#FF6384;"></span></th>
                                </tr>
                                <tr>
                                    <td>Q 4.1</td>
                                    <td>Demande d'arrêt</td>
                                </tr>
                                <tr>
                                    <td>Q 4.2</td>
                                    <td>Valideurs titres de transports</td>
                                </tr>
                                <tr>
                                    <td>Q 4.3</td>
                                    <td>Bouton d'ouverture des portes (self service)</td>
                                </tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr>
                                    <th colspan="2">Détails du thème Q 5 / <span class="small" style="color:gray;">conformes:</span> <span class="small Q_5_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small Q_5_B" style="color:#FF6384;"></span></th>
                                </tr>
                                <tr>
                                    <td>Q 5.1</td>
                                    <td>Un plan de ligne</td>
                                </tr>
                                <tr>
                                    <td>Q 5.2</td>
                                    <td>Tarifs</td>
                                </tr>
                                <tr>
                                    <td>Q 5.3</td>
                                    <td>Réglementation</td>
                                </tr>
                                <tr>
                                    <td>Q 5.4</td>
                                    <td>Correspondance avec les modes ferrés</td>
                                </tr>
                                <tr>
                                    <td>Q 5.5</td>
                                    <td>N° de téléphone 3424</td>
                                </tr>
                                <tr>
                                    <td>Q 5.6</td>
                                    <td>Site www.ratp.fr</td>
                                </tr>
                                <tr>
                                    <td>Q 5.7</td>
                                    <td>Annonce visuelle des arrêts</td>
                                </tr>
                                <tr>
                                    <td>Q 5.8</td>
                                    <td>Annonce sonore des arrêts</td>
                                </tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr>
                                    <th colspan="2">Détails du thème Q 6 / <span class="small" style="color:gray;">conformes:</span> <span class="small Q_6_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small Q_6_B" style="color:#FF6384;"></span></th>
                                </tr>
                                <tr>
                                    <td>Q 6.1</td>
                                    <td>Sièges dégradés (cassés, lacérés)</td>
                                </tr>
                                <tr>
                                    <td>Q 6.2</td>
                                    <td>Dispositif de maintien (barres et mains courantes) abîmé</td>
                                </tr>
                                <tr>
                                    <td>Q 6.3</td>
                                    <td>Revêtement de sol ondulant ou baillant</td>
                                </tr>
                                <tr>
                                    <td>Q 6.4</td>
                                    <td>Mauvais fonctionnement des portes</td>
                                </tr>
                                <tr>
                                    <td>Q 6.5</td>
                                    <td>Sièges tâchés (traces pieds, chewing gum)</td>
                                </tr>
                                <tr>
                                    <td>Q 6.6</td>
                                    <td>Sol gras, glissant, collant</td>
                                </tr>
                                <tr>
                                    <td>Q 6.7</td>
                                    <td>Présence détritus (détritus, canettes, mégots, chewing gum ...)</td>
                                </tr>
                                <tr>
                                    <td>Q 6.8</td>
                                    <td>Présence détritus organiques (excrément, vomissure)</td>
                                </tr>
                                <tr>
                                    <td>Q 6.9</td>
                                    <td>Panneaux intérieurs tâchés, déchirés</td>
                                </tr>
                                <tr>
                                    <td>Q 6.10</td>
                                    <td>Panneaux intérieurs tagés</td>
                                </tr>
                                <tr>
                                    <td>Q 6.11</td>
                                    <td>Colonnette ou mains courrantes sales</td>
                                </tr>
                                <tr>
                                    <td>Q 6.12</td>
                                    <td>Eclairage intérieur insuffisant</td>
                                </tr>
                                <tr>
                                    <td>Q 6.13</td>
                                    <td>Sièges usés, lustrés, noircis</td>
                                </tr>
                                <tr>
                                    <td>Q 6.14</td>
                                    <td>Sièges tagés</td>
                                </tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr>
                                    <th colspan="2">Détails du thème Q 7 / <span class="small" style="color:gray;">conformes:</span> <span class="small Q_7_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small Q_7_B" style="color:#FF6384;"></span></th>
                                </tr>
                                <tr>
                                    <td>Q 7.1</td>
                                    <td>Présence d'odeurs</td>
                                </tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr>
                                    <th colspan="2">Détails du thème MR 2.1 et MR 2 bis</th>
                                </tr>
                                <tr>
                                    <td>MR 2.1</td>
                                    <td>Distance au trottoir non conforme à la montée / <span class="small" style="color:gray;">conformes:</span> <span class="small MR_2_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small MR_2_B" style="color:#FF6384;"></span></td>
                                </tr>
                                <tr>
                                    <td>MR 2.1 bis</td>
                                    <td>Distance au trottoir non conforme à la descente / <span class="small" style="color:gray;">conformes:</span> <span class="small MR_2_bis_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small MR_2_bis_B" style="color:#FF6384;"></span></td>
                                </tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr>
                                    <th colspan="2">Détails du thème MR 3 / <span class="small" style="color:gray;">conformes:</span> <span class="small MR_3_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small MR_3_B" style="color:#FF6384;"></span></th>
                                </tr>
                                <tr>
                                    <td>MR 3.1</td>
                                    <td>Ne regarde pas délibérément</td>
                                </tr>
                                <tr>
                                    <td>MR 3.2</td>
                                    <td>Parle à une connaissance</td>
                                </tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr>
                                    <th colspan="2">Détails du thème MR 4 / <span class="small" style="color:gray;">conformes:</span> <span class="small MR_4_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small MR_4_B" style="color:#FF6384;"></span></th>
                                </tr>
                                <tr>
                                    <td>MR 4.1</td>
                                    <td>Le machiniste est démuni de monnaie</td>
                                </tr>
                                <tr>
                                    <td>MR 4.2</td>
                                    <td>Le machiniste est démuni de tickets</td>
                                </tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr>
                                    <th colspan="2">Détails du thème MR 5 / <span class="small" style="color:gray;">conformes:</span> <span class="small MR_5_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small MR_5_B" style="color:#FF6384;"></span></th>
                                </tr>
                                <tr>
                                    <td>MR 5.1</td>
                                    <td>Veste non conforme</td>
                                </tr>
                                <tr>
                                    <td>MR 5.2</td>
                                    <td>Chemise non conforme</td>
                                </tr>
                                <tr>
                                    <td>MR 5.3</td>
                                    <td>Cravate non conforme</td>
                                </tr>
                                <tr>
                                    <td>MR 5.4</td>
                                    <td>Pantalon non conforme</td>
                                </tr>
                                <tr>
                                    <td>MR 5.5</td>
                                    <td>Badge non conforme</td>
                                </tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr>
                                    <th colspan="2">Détails du thème MR 6 / <span class="small" style="color:gray;">conformes:</span> <span class="small MR_6_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small MR_6_B" style="color:#FF6384;"></span></th>
                                </tr>
                                <tr>
                                    <td>MR 6.1</td>
                                    <td>Les vêtements sont sales</td>
                                </tr>
                                <tr>
                                    <td>MR 6.2</td>
                                    <td>Les vêtements sont fripés</td>
                                </tr>
                                <tr>
                                    <td>MR 6.3</td>
                                    <td>Le machiniste fume</td>
                                </tr>
                                <tr>
                                    <td>MR 6.4</td>
                                    <td>Le machiniste a au moins un pied sur le tableau de bord</td>
                                </tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr>
                                    <th colspan="2">Détails du thème MR 7 / <span class="small" style="color:gray;">conformes:</span> <span class="small MR_7_A" style="color:gray;"></span> - <span class="small" style="color:#FF6384;">conformes:</span> <span class="small MR_7_B" style="color:#FF6384;"></span></th>
                                </tr>
                                <tr>
                                    <td>MR 7.1</td>
                                    <td>La vitesse est trop rapide</td>
                                </tr>
                                <tr>
                                    <td>MR 7.2</td>
                                    <td>La conduite est saccadée</td>
                                </tr>
                                <tr>
                                    <td>MR 7.3</td>
                                    <td>Non respect de feu rouge</td>
                                </tr>
                                <tr>
                                    <td>MR 7.4</td>
                                    <td>Non respect de stop</td>
                                </tr>
                                <tr>
                                    <td>MR 7.5</td>
                                    <td>Refus de priorité</td>
                                </tr>
                                <tr>
                                    <td>MR 7.6</td>
                                    <td>Port d'écouteurs, oreillettes</td>
                                </tr>
                                <tr>
                                    <td>MR 7.7</td>
                                    <td>Utilisation manuelle de portable et produits dérivés</td>
                                </tr>
                            </table>
                        </div>
                     </div>
                </div> 
            </div>

        </div><!-- row navigation-->
    </div><!-- container navigation-->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('Chart.js/dist/Chart.js') }}"></script>
    <script src="{{ asset('js/bus/reporting/compare_month.js') }}"></script>
{% endblock %}
